.creator-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-image-source: url(/images/creator-border.png);
  border-image-slice: 50 fill;
  border-image-width: 40px;
  border-image-repeat: repeat;
}

.creator-background {
  color: #fff;
  border-style: solid;

  border-image-source: url(/images/creator-background.png);
  border-image-slice: 1 fill;
  border-image-repeat: stretch;

  padding: 0px 18px;
}
