@import 'tailwindcss';

body {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  min-height: 100vh;
  /* overflow: hidden; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
